.alert {
  padding: calc(var(--space-sm)) calc(var(--space-sm));
  border-radius: var(--border-radius-md);
}

.alert--info {
  background: var(--color-primary-lighter);
  color: var(--color-primary-dark);
}

.alert--success {
  background: var(--color-success-lighter);
  color: var(--color-success-darker);
}

.alert--warning {
  background: var(--color-warning-lighter);
  color: var(--color-warning-darker);
}

.alert--danger {
  background: var(--color-accent-lighter);
  color: var(--color-accent-darker);
}
