= narrow_layout do
  h2.text--center.text--lg.fw--600
    = Setting.site_title

  .box
    .box__body
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = f.input :email
        = f.button :submit, t('.send_me_reset_password'), class: 'btn btn--primary btn--block'

  = render "devise/shared/links"
