// @todo: rewrite this entire file to use globals

.badge:not([data-badge])::after,
.badge[data-badge=""]::after {
  height: 6px;
  width: 6px;
  padding: 0;
  min-width: 6px;
}

.badge[data-badge]::after {
  font-size: .7rem;
  height: .9rem;
  line-height: 1;
  min-width: .9rem;
  padding: .1rem .2rem;
  text-align: center;
  white-space: nowrap;
}

.badge:not([data-badge])::after,
.badge[data-badge]::after {
  background: #5755d9;
  background-clip: padding-box;
  border-radius: .5rem;
  box-shadow: 0 0 0 0.1rem #fff;
  color: #fff;
  content: attr(data-badge);
  display: inline-block;
  transform: translate(-.05rem,-.5rem);
}
