.paginator {
  font-size: calc(var(--text-sm) * 1.2);
  color: var(--color-contrast-medium-l);
}

.paginator ul {
  text-align: center;
}

.paginator ul li {
  margin-right: var(--space-xxs);
  display: inline-block;
}
