.tab {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--color-border);
}

.tab__item {
  a {
    border-bottom: 2px solid transparent;
    display: block;
    margin: 0 var(--space-xxs) 0 0;
    padding: var(--space-xs) var(--space-xxs);
    text-decoration: none;
    color: var(--color-contrast-medium);

    &:hover {
      color: var(--color-primary);
    }
  }

  a.active {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
  }

  // labels

  a .label {
    font-size: 66%;
    background: var(--color-contrast-low);
    margin-left: var(--space-xxs);
    line-height: calc(var(--text-md) * 0.9)
  }

  a.active .label,
  a:hover .label {
    background: var(--color-primary);
    color: var(--color-white);
  }
}

.tab--block {
  .tab__item {
    flex: 1 0 0;
    text-align: center;

    a {
      margin: 0;
    }
  }
}
