.box
  .box__nav
    ul.tab
      li.tab__item
        = active_link_to t('.hot'), :dashboard, active: :exclusive
      li.tab__item
        = active_link_to t('.recent'), :recent_dashboard

  = render 'stories/list', stories: @stories

  - if current_account.active_follows.count.zero?
    .empty
      .empty__icon
        | &times;
      p.empty__title = t(:nothing_to_show)
      p.empty__subtitle = t('.you_re_not_following')

  - elsif @stories.empty?
    .empty
      .empty__icon
        | &times;
      p.empty__title = t('.nothing_to_show')
      p.empty__subtitle = t('.accounts_you_follow_have')

= paginate @stories, theme: :mini_box
