@import 'node_modules/codyhouse-framework/main/assets/css/_global.scss';
@import 'node_modules/@yaireo/tagify/src/tagify';

@import './vendor/toastify';

@import './utility_classes';
@import './globals/buttons';
@import './globals/alerts';
@import './globals/form';
@import './globals/typography';
@import './globals/tables';
@import './globals/misc';

@import './components/video_responsive';
@import './components/dropdown';
@import './components/box';
@import './components/tabs';
@import './components/labels';
@import './components/counter';
@import './components/media';
@import './components/avatar';
@import './components/main_header';
@import './components/popular_tags';
@import './components/story_row';
@import './components/container';
@import './components/markdown_editor';
@import './components/comment';
@import './components/badge';
@import './components/empty';
@import './components/paginator';
@import './components/footer';
@import './components/nav';
@import './components/modal';

:root {
  // Colors
  --color-teal: hsl(188, 78%, 40%);
  --color-teal-light: hsl(188, 78%, 50%);
  --color-teal-lighter: hsl(188, 78%, 60%);
  --color-teal-dark: hsl(188, 78%, 30%);
  --color-teal-darker: hsl(188, 78%, 20%);

  --color-grey: hsl(210, 16%, 76%);
  --color-grey-light: hsl(210, 16%, 86%);
  --color-grey-lighter: hsl(210, 16%, 96%);
  --color-grey-dark: hsl(210, 16%, 66%);
  --color-grey-darker: hsl(210, 16%, 56%);

  --color-liked: #c75000;
  --color-white-a10: hsla(0, 0%, 100%, 10%);
  --color-white-a20: hsla(0, 0%, 100%, 20%);

  // Overwrites
  --btn-font-size: .7em;
  --text-base-size: 1em;
  --body-line-height: 1.5;
  --font-primary: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,sans-serif;

  // Custom vars
  --border-radius-sm: 0.10em;
  --border-radius-md: 0.20em;
  --border-radius: var(--border-radius-md);

  --box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  --box-shadow-sm: 0 1px 2px rgba(0,0,0,0.05);
  --box-shadow-md: 0 2px 8px 0 rgba(0,0,0,0.12), 0 1px 4px 0 rgba(0,0,0,0.08);
  --box-shadow-lg: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);

  --color-jumpbox: var(--color-main-header);
}

:root, [data-theme="default"] {
  --color-bg: hsl(0, 0%, 98%);
  --color-contrast-lower: hsl(240, 4%, 95%);
  --color-contrast-low-l: hsl(220, 9%, 90%);
  --color-contrast-low: hsl(220, 9%, 87%);
  --color-contrast-medium-l: hsl(222, 9%, 73%);
  --color-contrast-medium: hsl(222, 9%, 63%);
  --color-contrast-high: hsl(222, 12%, 43%);
  --color-contrast-higher:hsl(221, 15%, 37%);
  --color-border: var(--color-contrast-low-l);
  --color-main-header: var(--color-white);
  --color-main-header-bg: var(--color-teal);
  --color-box-bg: var(--color-white);
  --color-story-row-thumb-bg: var(--color-grey-lighter);
  --color-story-row-meta: var(--color-contrast-medium-l);

  --color-dropdown-bg: var(--color-white);
  --color-dropdown-divider-border: var(--color-border);
  --color-dropdown-link-active: var(--color-primary-dark);
  --color-dropdown-link-active-bg: var(--color-primary-a10);

  --color-jumpbox-border: var(--color-white-a20);
  --color-jumpbox-bg: var(--color-white-a10);

  // color primary
  --color-primary-lighter: hsl(231, 51%, 80%);
  --color-primary-light: hsl(231, 51%, 70%);
  --color-primary: hsl(231, 51%, 60%);
  --color-primary-dark: hsl(231, 51%, 50%);
  --color-primary-darker: hsl(231, 51%, 40%);
  --color-primary-a10: hsla(231, 51%, 60%, 0.1);
}

@supports(--css: variables) {
  [data-theme="dark"] {
    @include defineColorHSL(--color-black, 240, 8%, 12%);
    @include defineColorHSL(--color-white, 0, 0%, 100%);

    // primary color
    @include defineColorHSL(--color-primary-darker, 188, 79%, 14%);
    @include defineColorHSL(--color-primary-dark, 188, 79%, 24%);
    @include defineColorHSL(--color-primary, 188, 79%, 34%);
    @include defineColorHSL(--color-primary-light, 188, 79%, 44%);
    @include defineColorHSL(--color-primary-lighter, 188, 79%, 54%);

    // color contrasts
    @include defineColorHSL(--color-bg, 220, 12%, 15%);
    @include defineColorHSL(--color-contrast-lower, 220, 10%, 18%);
    @include defineColorHSL(--color-contrast-low-l, 218, 6%, 21%);
    @include defineColorHSL(--color-contrast-low, 218, 6%, 25%);
    @include defineColorHSL(--color-contrast-medium-l, 228, 2%, 30%);
    @include defineColorHSL(--color-contrast-medium, 228, 2%, 49%);
    @include defineColorHSL(--color-contrast-high, 180, 1%, 72%);
    @include defineColorHSL(--color-contrast-higher, 0, 0%, 80%);

    --color-box-bg: var(--color-contrast-lower);
    --color-border: var(--color-contrast-low);
    --color-main-header: var(--color-contrast-high);
    --color-main-header-bg: var(--color-contrast-lower);
    --color-story-row-thumb-bg: var(--color-contrast-low);
    --color-story-row-meta: var(--color-contrast-medium);

    --color-dropdown: var(--color-contrast-medium);
    --color-dropdown-bg: var(--color-contrast-higher);
    --color-dropdown-divider-border: var(--color-contrast-high);
    --color-dropdown-link: var(--color-contrast-medium);
    --color-dropdown-link-active: var(--color-primary-dark);
    --color-dropdown-link-active-bg: var(--color-primary-a10);

    .box.--touches-header {
      box-shadow: inset var(--box-shadow);
    }
  }
}

