p
  = t('.hello_resource', resource: (@resource.email))
p
  = t('.your_account_has_been')
p
  = t('.click_the_link_below')
p
  = link_to t('.unlock_my_account'), unlock_url(@resource, unlock_token: @token)
